body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.bg-base {
    background: url('https://images.pexels.com/photos/256453/pexels-photo-256453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card {
    box-shadow: 0 16px 32px #3D2B1F;
}

.navbar-color {
    position: sticky;
}

