body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.bg-base {
    background: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    background-color: #231709;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card {
    box-shadow: 0 16px 32px #3D2B1F;
}
