{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 card mb-4 mt-3 top">
                <div class="card-body">
                    <h1>The page you are looking for is not available</h1>
                    <hr>
                    <a href="{% url 'index' %}" class="btn btn-warning text-black">&larr; Back to Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}