{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 card mb-4  mt-3 top">
            <div class="card-body">
                <h2>About us</h2>
                <hr>
                <p>A group of friends who decided to build a website - a place where we could see our friends' bookshelves and learn
                    about new books and spread our thoughts of books. Elizabeth, my co-founder (and now my wife) wrote the site copy and
                    I wrote the code. We started in my living room, motivated by the belief that there was a better way to discover and
                    discuss good books, and that we could build it.</p>
                <p>Book Club is that site. It is a place where you can see what your friends are reading and vice versa. You soon will
                    be able to create "bookshelves" to organize what you've read (or want to read) and also comment on each other's
                    reviews. You can find your next favourite book. And on this journey with your friends you can explore new territory,
                    gather information, and expand your mind. </p>
                <p>Knowledge is power, and power is best shared among readers. </p>
            </div>
        </div>
    </div>
    
</div>

{% endblock content%}