{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Book Club</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon/site.webmanifest">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/32c8c0ea26.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Book Club</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" href="{% url 'about' %}">About</a>
                        </li>
                        
                        {% if user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" href="#">New Post</a>
                            </li>
                            {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="masthead bg-warning">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h2 class="site-heading my-4 mt-3 text-dark font-weight-bold"> Welcome to Book Club </h2>
                                <h5 class="text-dark font-weight-bold">We Love BOOKS...As much as you do!!</h5>
                                <h6 class="text-dark font-weight-bold">Every week we bring you a new interesting book review!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bg-dark bg-base">
            {% block content %}

            <!-- Content Goes here -->

            {% endblock content %}
        </div>
        
        <!-- Footer -->
        <footer class="py-3 bg-dark">
            <p class="m-0 text-light text-center ">Copyright &copy; Book Club</p>
        </footer>
        <script>
            setTimeout(function () {
                let messages = document.getElementById("msg");
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }, 2000);
        </script>
    </body>
</html>